extends layout

block content
  .pure-g-r.container
    #lede.pure-u-1
      h1.title.text-center
        a(href="/", title="The Color API, Opening doors to better color")= title
      .text-center
        form.leader(action="/form-id", method="POST")
          input(name="color", type="text", placeholder="#0074AB, rgb(2,45,5), etc.", autofocus, required, value="#{req.query.color || ''}")
          button ID This Color
        p.links
          span.maker <a href="/docs" title="Documentation">Read The Docs</a> &mdash; <a href="/about", title="About">About</a> &mdash; <a href="mailto:support@thecolorapi.com?subject=The Color API" title="Email support for the API">Support</a> &mdash; <a href="http://twitter.com/jbckmn" rel="author" title="Josh Beckman">Follow @jbckmn for updates</a>
      #loading.loading.back
        .door
        .bullet
        .bullet
        .bullet
        .bullet
        .door