extends layout

block content
  .pure-g-r.container
    #lede.pure-u-1
      h1.title.text-center
        a(href="/")= title
      .text-center
        p.leader Get to know your colors better
      #loading.loading.back
        .door
        .bullet
        .bullet
        .bullet
        .bullet
        .door