extends layout

block content
  .pure-g-r.container
    #lede.pure-u-1
      h1.title.text-center
        a(href="/", title="The Color API, Opening doors to better color")= title
      .text-center
        form.leader(action="/form", method="POST")
          input(name="color", type="text", placeholder="#FFFFFF or rgb(0,0,0), etc.", autofocus)
          button &rArr;
        p.links
          span.maker <a href="/docs" title="Documentation">Read The Docs</a> &mdash; <a href="mailto:support@thecolorappi.com?subject=The Color API" title="Email support for the API">Support</a> &mdash; <a href="http://andjosh.com" rel="author" title="Josh Beckman">Author</a>
      #loading.loading.back
        .door
        .bullet
        .bullet
        .bullet
        .bullet
        .door