extends layout

block content
  #sunset
  .pure-g-r.container
    #lede.pure-u-1
      h1.title.text-center
        a(href="/", title="The Color API, Opening doors to better color") The<span>Color</span>API
          small color conversion, naming, scheming & placeholders
      #loading.loading.back
        .door
        .bullet
        .bullet
        .bullet
        .bullet
        .door
      .content-div
        div
          button#try-it Try Me
          img#try-show
          hr
          h3 Your fast, modern, swiss army knife for color. 
          p Pass in any valid color and get conversion into any other format, the name of the color, placeholder images and a multitude of schemes.
          p There are only two endpoints you need to worry about, <code>/id</code> and <code>/scheme</code>, and you can <a href="/docs" title="Documentation">read the docs</a> about both. Each endpoint is available in JSON[P], HTML & SVG format. The SVG format can be saved or used as an <code>img[src]</code> attribute for super-easy embedding/sharing! 
          p Try <a href="/id?hex=24B1E0" title="Cerulean example">Josh's favorite</a>, for example, in <a href="/id?hex=24B1E0" title="Cerulean example">JSON</a>, <a href="/id?hex=24B1E0&format=html" title="Cerulean example">HTML</a> or <a href="/id?hex=24B1E0&format=svg" title="Cerulean example">SVG format</a>.
          .text-center –––
          h2 How do I convert/identify a color?
          p All you really need to do is access the <code>/id</code> endpoint, and pass in a color value as a query string. <a href="/docs" title="Documentation">Read the docs</a> for more details, but all these are valid:
            ul
              li 
                code /id?hex=ffa
                |  or 
                code /id?hex=00ffa6
              li
                code /id?rgb=rgb(255,0,0)
                |  or 
                code /id?rgb=20,43,55
              li Same goes for cmyk, hsl, and hsv formats
          p Every <code>color</code> object returned by the API 
            ul
              li Is named (from a matched dataset of over 2000 names+colors)
                br
                em e.g. #24B1E0 == Cerulean
              li Has an image URL for demonstration
                br
                em e.g. <a href="/id?hex=24B1E0&format=svg">Cerulean image</a>
              li Is transposed into hex, rgb, cmyk, hsl, hsv and XYZ formats
              li Is matched to a best-contrast color for text overlay, etc
          .text-center –––
          h2 How do I generate color schemes?
          p The parameters are <a href="/docs" title="Documentation">generally the same</a> as those necessary for the <code>/id</code> endpoint (supply a color, like above), but here you can also specify a scheme mode to guide the generation.
          p Scheme modes include <code>monochrome</code>, <code>monochrome-dark</code>, <code>monochrome-light</code>, <code>analogic</code>, <code>complement</code>, <code>analogic-complement</code>, <code>triad</code> and <code>quad</code>.
          p Every <code>scheme</code> object returned by the API is seeded by the color of your request and can be any length you specify (within limits). It will also include a <code>color</code> object for each constituent color.
          .text-center –––
          h2 Anything else?
          p If you find this <a href="https://github.com/andjosh/thecolorapi">open source API</a> useful, please <a href="https://github.com/sponsors/andjosh">support the developer</a>!
      p.links
        span.maker <a href="/docs" title="Documentation">Read The Docs</a> &mdash; <a href="/form-id", title="ID a color">ID color</a> &mdash; <a href="/form-scheme", title="Scheme a color">Generate scheme</a> &mdash; <a href="mailto:support@thecolorapi.com?subject=The Color API" title="Email support for the API">contact</a> &mdash; <a href="https://github.com/andjosh" rel="author" title="Josh Beckman">Author</a>
