@import url("pure-min.css");
body {
  font-size: 15px ;
  line-height: 1.4em;
  font-family: 'Futura', "Century Gothic", Helvetica, sans-serif;
  font-weight: 400;
  background: #ffffff;
  color: #3b3b3b;
}
h1, h2, h3, h4, h5{
  font-weight: 400;
}
a{
  text-decoration: none;
}
.text-center{
  text-align: center;
}
.margin-center{
  display: block;
  margin:0 auto;
  text-align: center;
}

#about{
  max-width: 500px;
  margin: 75px auto 100px;
  display: block;
}
#about .title{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 35px;
}
#lede .title{
  position: absolute;
  top: 33%;
  left: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 35px;
}
#lede .title a{
  color: #3b3b3b;
  letter-spacing: 3px;
  transition: text-shadow 2s;-moz-transition: text-shadow 2s;-webkit-transition: text-shadow 2s;-o-transition: text-shadow 2s;
}
#lede .leader{
  position: absolute;
  top: 47%;
  left: 0;
  right: 0;
  text-align: center;
  text-transform: lowercase;
}
#lede .leader input{
  padding:3px 0 3px 5px;
  position: relative;
  top: 2px;
  box-shadow: none;
  border-radius: 3px;
  border:1px solid #bbb;
  font-family: 'Futura', "Century Gothic", Helvetica, sans-serif;
  display: block;
  margin: 0 auto 10px;
}
#lede .leader input:focus{
  outline: none;
}
#lede .leader button{
  background:blue;
  border:none;
  padding-right:8px;
  padding-left: 8px;
  border-radius: 3px;
  color: #fff;
  display: block;
  margin: 10px auto 0px;
}

#lede .links {
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
  text-align: center;
  text-transform: lowercase;
  background:#fefefe;
  margin:0;
  padding: 1em;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  color: grey;
}

.form-results{
  max-width: 600px;
  margin:20px auto 100px;
}
.form-results h1{
  margin-bottom: 40px;
}
.form-results h1 a{
  text-transform: uppercase;
  color: #3b3b3b;
}
.form-results .in-api-link{
  border:2px solid #3b3b3b;
  max-width: 250px;
  display: inline-block;
  padding:5px 10px;
  border-radius: 5px;
  transition: opacity 1s;-moz-transition: opacity 1s;-webkit-transition: opacity 1s;-o-transition: opacity 1s;
}
.form-results .in-api-link:hover{
  opacity: 0.75;
}
.form-results table{
  width: 100%;
  display: table;
}
.form-results img{
  border-radius: 25px;
}
table td{
  word-break: break-word;
}

.form-results .scheme-color-link{
  display: block;
  padding: 2em 1em;
}
.form-results .scheme-to-scheme-link{
  display: block;
  padding: 1em 1em;
}

.loading {
  position: absolute;
  top: 60%;
  left: 50%;
}
#about .loading {
  position: absolute;
  top: 0px;
  left: 50%;
}
.loading .bullet {
  position: absolute;
  padding: 5px;
  background: #00B4BF;
  opacity: 0;
  -webkit-animation: animIn 1s ease-in-out 0s;
  animation: animIn 1s ease-in-out 0s;
  animation-direction: normal;
  -webkit-animation-direction: normal;
}
.loading.back .bullet {
  border-radius: 50%;
  -webkit-animation: animIn 1s ease-in-out 0s;
  animation: animIn 1s ease-in-out 0s;
  animation-direction: reverse;
  -webkit-animation-direction: reverse;
}
.loading .bullet:nth-child(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.loading .bullet:nth-child(2) {
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}
.loading .bullet:nth-child(3) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.loading .bullet:nth-child(4) {
  -webkit-animation-delay: 0.45s;
  animation-delay: 0.45s;
}
.loading .door:nth-child(6){
  padding:15px;
  position: relative;
  top: -10px;
  left: 90px;
  background:white;
  z-index: 10000;
  -webkit-animation: lift 1s ease-in-out 0s;
  animation: lift 1s ease-in-out 0s;
  -webkit-animation-delay: 0.45s;
  animation-delay: 0.45s;
}
.loading.back .door:nth-child(6){
  padding:15px;
  position: relative;
  top: -10px;
  left: 90px;
  background:white;
  z-index: 10000;
  -webkit-animation: lift 1s ease-in-out 0s;
  animation: lift 1s ease-in-out 0s;
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}
.loading .door:nth-child(1){
  padding:15px;
  position: relative;
  top: 20px;
  z-index: 10000;
  right: 110px;
  background:white;
  -webkit-animation: liftLeft 1s ease-in-out 0s;
  animation: liftLeft 1s ease-in-out 0s;
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}
.loading.back .door:nth-child(1){
  padding:15px;
  position: relative;
  top: 20px;
  z-index: 10000;
  right: 110px;
  background:white;
  -webkit-animation: liftLeft 1s ease-in-out 0s;
  animation: liftLeft 1s ease-in-out 0s;
  -webkit-animation-delay: 0.35s;
  animation-delay: 0.35s;
}
@-webkit-keyframes liftLeft {
  0% {
    box-shadow: none;
    -webkit-transform: rotateY(0deg); 
    transform: rotateY(0deg); 
    -webkit-perspective:1000px;
    perspective:1000px;
    right:110px;
  }
  50% {
    box-shadow: 3px 0px 5px rgba(0,0,0,0.35);
    -webkit-transform: rotateY(-30deg); 
    transform: rotateY(-30deg); 
    -webkit-perspective:1000px;
    perspective:1000px;
    right:115px;
  }
  100% {
    box-shadow: none;
    -webkit-transform: rotateY(0deg); 
    transform: rotateY(0deg); 
    -webkit-perspective:1000px;
    perspective:1000px;
    right:110px;
  }
}
@keyframes liftLeft {
  0% {
    box-shadow: none;
    -webkit-transform: rotateY(0deg); 
    transform: rotateY(0deg); 
    -webkit-perspective:1000px;
    perspective:1000px;
    right:110px;
  }
  50% {
    box-shadow: 3px 0px 5px rgba(0,0,0,0.35);
    -webkit-transform: rotateY(-30deg); 
    transform: rotateY(-30deg); 
    -webkit-perspective:1000px;
    perspective:1000px;
    right:115px;
  }
  100% {
    box-shadow: none;
    -webkit-transform: rotateY(0deg); 
    transform: rotateY(0deg); 
    -webkit-perspective:1000px;
    perspective:1000px;
    right:110px;
  }
}
@-webkit-keyframes lift {
  0% {
    box-shadow: none;
    -webkit-transform: rotateY(0deg); 
    transform: rotateY(0deg); 
    -webkit-perspective:1000px;
    perspective:1000px;
    left:90px;
  }
  50% {
    box-shadow: -3px 0px 5px rgba(0,0,0,0.35);
    -webkit-transform: rotateY(30deg); 
    transform: rotateY(30deg); 
    -webkit-perspective:1000px;
    perspective:1000px;
    left:95px;
  }
  100% {
    box-shadow: none;
    -webkit-transform: rotateY(0deg); 
    transform: rotateY(0deg); 
    -webkit-perspective:1000px;
    perspective:1000px;
    left:90px;
  }
}
@keyframes lift {
  0% {
    box-shadow: none;
    -webkit-transform: rotateY(0deg); 
    transform: rotateY(0deg); 
    -webkit-perspective:1000px;
    perspective:1000px;
    left:90px;
  }
  50% {
    box-shadow: -3px 0px 5px rgba(0,0,0,0.35);
    -webkit-transform: rotateY(30deg); 
    transform: rotateY(30deg); 
    -webkit-perspective:1000px;
    perspective:1000px;
    left:95px;
  }
  100% {
    box-shadow: none;
    -webkit-transform: rotateY(0deg); 
    transform: rotateY(0deg); 
    -webkit-perspective:1000px;
    perspective:1000px;
    left:90px;
  }
}
@-webkit-keyframes animIn {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
  }
}

@keyframes animIn {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
  }
}
@media only screen and (max-width :767px){
  .title{
    font-size: 30px;
  }
  .leader{
    font-size: 1.2em;
  }
}