@import url("pure-min.css");
body {
  font-size: 15px ;
  line-height: 1.4em;
  font-family: 'Raleway', Helvetica, sans-serif;
  font-weight: 400;
  background: #ffffff;
  color: #3b3b3b;
}
h1, h2, h3, h4, h5{
  font-weight: 400;
}
a{
  text-decoration: none;
}

#lede .title{
  position: absolute;
  top: 33%;
  left: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}
#lede .title a{
  color: #3b3b3b;
}
#lede .leader{
  position: absolute;
  top: 41%;
  left: 0;
  right: 0;
  text-align: center;
  text-transform: lowercase;
}

#lede .links {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  text-align: center;
  text-transform: lowercase;
}
#lede .maker {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  text-align: center;
  text-transform: lowercase;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
}
.loading .bullet {
  position: absolute;
  padding: 5px;
  background: #00B4BF;
  opacity: 0;
  -webkit-animation: animIn 1s ease-in-out 0s;
  animation: animIn 1s ease-in-out 0s;
  animation-direction: normal;
  -webkit-animation-direction: normal;
}
.loading.back .bullet {
  border-radius: 50%;
  -webkit-animation: animIn 1s ease-in-out 0s;
  animation: animIn 1s ease-in-out 0s;
  animation-direction: reverse;
  -webkit-animation-direction: reverse;
}
.loading .bullet:nth-child(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.loading .bullet:nth-child(2) {
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}
.loading .bullet:nth-child(3) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.loading .bullet:nth-child(4) {
  -webkit-animation-delay: 0.45s;
  animation-delay: 0.45s;
}
.loading .door:nth-child(6){
  padding:15px;
  position: relative;
  top: -10px;
  left: 90px;
  background:white;
  z-index: 10000;
  -webkit-animation: lift 1s ease-in-out 0s;
  animation: lift 1s ease-in-out 0s;
  -webkit-animation-delay: 0.45s;
  animation-delay: 0.45s;
}
.loading.back .door:nth-child(6){
  padding:15px;
  position: relative;
  top: -10px;
  left: 90px;
  background:white;
  z-index: 10000;
  -webkit-animation: lift 1s ease-in-out 0s;
  animation: lift 1s ease-in-out 0s;
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}
.loading .door:nth-child(1){
  padding:15px;
  position: relative;
  top: 20px;
  z-index: 10000;
  right: 110px;
  background:white;
  -webkit-animation: liftLeft 1s ease-in-out 0s;
  animation: liftLeft 1s ease-in-out 0s;
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}
.loading.back .door:nth-child(1){
  padding:15px;
  position: relative;
  top: 20px;
  z-index: 10000;
  right: 110px;
  background:white;
  -webkit-animation: liftLeft 1s ease-in-out 0s;
  animation: liftLeft 1s ease-in-out 0s;
  -webkit-animation-delay: 0.35s;
  animation-delay: 0.35s;
}
@-webkit-keyframes liftLeft {
  0% {
    box-shadow: none;
    -webkit-transform: rotateY(0deg); 
    transform: rotateY(0deg); 
    -webkit-perspective:1000px;
    perspective:1000px;
    right:110px;
  }
  50% {
    box-shadow: 3px 0px 5px rgba(0,0,0,0.35);
    -webkit-transform: rotateY(-30deg); 
    transform: rotateY(-30deg); 
    -webkit-perspective:1000px;
    perspective:1000px;
    right:115px;
  }
  100% {
    box-shadow: none;
    -webkit-transform: rotateY(0deg); 
    transform: rotateY(0deg); 
    -webkit-perspective:1000px;
    perspective:1000px;
    right:110px;
  }
}
@keyframes liftLeft {
  0% {
    box-shadow: none;
    -webkit-transform: rotateY(0deg); 
    transform: rotateY(0deg); 
    -webkit-perspective:1000px;
    perspective:1000px;
    right:110px;
  }
  50% {
    box-shadow: 3px 0px 5px rgba(0,0,0,0.35);
    -webkit-transform: rotateY(-30deg); 
    transform: rotateY(-30deg); 
    -webkit-perspective:1000px;
    perspective:1000px;
    right:115px;
  }
  100% {
    box-shadow: none;
    -webkit-transform: rotateY(0deg); 
    transform: rotateY(0deg); 
    -webkit-perspective:1000px;
    perspective:1000px;
    right:110px;
  }
}
@-webkit-keyframes lift {
  0% {
    box-shadow: none;
    -webkit-transform: rotateY(0deg); 
    transform: rotateY(0deg); 
    -webkit-perspective:1000px;
    perspective:1000px;
    left:90px;
  }
  50% {
    box-shadow: -3px 0px 5px rgba(0,0,0,0.35);
    -webkit-transform: rotateY(30deg); 
    transform: rotateY(30deg); 
    -webkit-perspective:1000px;
    perspective:1000px;
    left:95px;
  }
  100% {
    box-shadow: none;
    -webkit-transform: rotateY(0deg); 
    transform: rotateY(0deg); 
    -webkit-perspective:1000px;
    perspective:1000px;
    left:90px;
  }
}
@keyframes lift {
  0% {
    box-shadow: none;
    -webkit-transform: rotateY(0deg); 
    transform: rotateY(0deg); 
    -webkit-perspective:1000px;
    perspective:1000px;
    left:90px;
  }
  50% {
    box-shadow: -3px 0px 5px rgba(0,0,0,0.35);
    -webkit-transform: rotateY(30deg); 
    transform: rotateY(30deg); 
    -webkit-perspective:1000px;
    perspective:1000px;
    left:95px;
  }
  100% {
    box-shadow: none;
    -webkit-transform: rotateY(0deg); 
    transform: rotateY(0deg); 
    -webkit-perspective:1000px;
    perspective:1000px;
    left:90px;
  }
}
@-webkit-keyframes animIn {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
  }
}

@keyframes animIn {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
  }
}
@media only screen and (max-width :767px){
  .title{
    font-size: 30px;
  }
  .leader{
    font-size: 1.2em;
  }
}