@import url("pure-min.css");
body {
  font-size: 15px ;
  line-height: 1.4em;
  font-family: 'Raleway', Helvetica, sans-serif;
  font-weight: 400;
  background: #163241;
  color: #efefef;
}
h1, h2, h3, h4, h5{
  font-weight: 100;
}
a {
  color: #3b92b1 ;
  text-decoration: none;
  transition: 0.3s;-moz-transition: 0.3s;-webkit-transition: 0.3s;-o-transition: 0.3s;
}
a:hover{
  border-bottom: 1px solid #3b92b1;
  cursor: pointer;
}
code {
  background-color:#102531;
  padding:0.4em 0.6em;
  line-height: 2.5em;
}
.muted{
  opacity: 0.5;
}
.emph{
  font-style: italic;
}
.uppers{
  text-transform: uppercase;
}
.thin{
  font-weight: 400;
}
.text-center{
  text-align: center;
}
.no-dot-list{
  list-style: none;
}
.container{
  max-width: 1200px;
  margin:0 auto;
}
.pad-s-1{
  padding-left: 1em;
  padding-right: 1em;
}
#lede, #docs, #demo{
  min-height: 100vh;
}
.title{
  text-transform: uppercase;
  margin: 0px;
  padding: 2em 0 1em 0;
  font-size: 50px;
  font-weight: 100;
}
.leader{
  font-size: 1.5em;
  margin-bottom: 2em;
}
.quote{
  font-weight: 400;
  position: absolute;
  bottom: 0px;
  left:20%;
  width: 60%;
  font-size: 14px;
  margin:5px 0;
}
.pure-table{
  margin:0 auto;
  width: 99%;
}
.pure-table caption {
  color: #efefef;
  font-style: normal;
  font-size: 1.5em;
  font-weight: 100;
  font-family: 'Raleway';
}
#demo-input{
  display: block;
  width: 20em;
  margin:1em 0;
  border:none;
  border-radius: none;
  border-bottom:1px solid #efefef;
  color:#ddd;
  background: #163241;
  padding-bottom: 3px;
}
button{
  margin:0.5em 0;
  font-size: 0.8em;
  background: #3b92b1;
  color: #efefef;
  border: none;
  border-radius: 2px;
  padding: 0.5em 1em 0.5em;
  text-transform: uppercase;
  transition: 0.3s;-moz-transition: 0.3s;-webkit-transition: 0.3s;-o-transition: 0.3s;
}
#demo-button{
  margin:1em 0;
  font-size: 1em;
  background: #3D9970;
}
button:hover{
  opacity: 0.9;
}
.demo-color{
  height: 1em;
  width: 2em;
  display: inline-block;
  margin:0 auto 1em;
  border-top:1px solid #eee;
  border-bottom:1px solid #eee;
}
.demo-color:nth-child(2){
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  border-left:1px solid #eee;
}
.demo-color:last-child{
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  border-right:1px solid #eee;
}
@media only screen and (max-width :767px){
  .title{
    font-size: 30px;
  }
  .leader{
    font-size: 1.2em;
  }
}